:root {
  color-scheme: light dark;
}

::selection {
  color: var(--text-on-accent);
  background: var(--color-accent);
}

* {
  &,
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  color: var(--text-on-dominant);
  background: var(--color-dominant);
}

p {
  margin: 0 0 var(--spacing-4);
}

ul {
  margin: 0 0 var(--spacing-4);
}

figure {
  display: block;
  margin: 0;
}
