html {
  font-size: var(--font-size-base);
}

body {
  font-family: var(--font-family-body), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: var(--line-height);
  text-wrap: balance;
}

p {
  margin: 0 0 var(--spacing-4);
}

h1,
h2,
h3 {
  line-height: var(--line-height-heading);
  font-family: var(--font-family-headings);
}

h1 {
  margin: 0 0 var(--spacing-4);
  font-size: var(--font-size-h1);
}

h2 {
  margin: 0 0 var(--spacing-3);
  font-size: var(--font-size-h2);
}

h3 {
  margin: 0 0 var(--spacing-2);
  font-size: var(--font-size-h3);
}

blockquote {
  margin: 0 0 var(--spacing-4);
  font-size: var(--font-size-h2);
  line-height: var(--line-height-heading);
  font-family: var(--font-family-headings);
  padding-inline-start: var(--spacing-6);
  margin: var(--spacing-4) var(--spacing-4) var(--spacing-6);
  position: relative;

  &::before {
    font-size: var(--font-size-h1);
    left: 0;
    position: absolute;
    display: inline-block;
    content: "“";
  }
}
