.footer {
  display: block;
  padding-block: var(--spacing-4) var(--spacing-12);
  background: var(--color-background-alternative);
  color: var(--color-text-alternative);
}

.list {
  list-style: none outside;
  padding-inline-start: 0;
  margin-block-end: 0;
}
