.header {
  display: block;
  padding-block: var(--spacing-4);
}

.list {
  list-style: none outside;
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-4);
  padding-inline-start: 0;
}
