.list {
  list-style: none outside;
  padding-inline-start: 0;
  display: grid;
  gap: var(--spacing-8);

  &.highlights {
    grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
  }
}

.list-item {
  container-name: achive-list;
  container-type: inline-size;
}

.wrapper {
  display: grid;
  gap: var(--spacing-4);

  @container achive-list (width > 32em) {
    gap: var(--spacing-8);
    grid-template-columns: 12em auto;
  }
}

.image {
  object-fit: cover;
  aspect-ratio: 5 / 2;
  display: block;
  width: 100%;
  height: auto;
  margin-block-start: var(--spacing-2);

  @container achive-list (width > 32em) {
    aspect-ratio: 3 / 2;
  }
}
