.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  position: relative;
  aspect-ratio: 16 / 9;

  @media (width >= 1024px) {
    height: 30vw;
    aspect-ratio: auto;
  }
}

.svg {
  position: absolute;
  inset: auto 0 -1px;
  display: block;
  fill: var(--color-dominant);
  scale: -1 1;
}
