.wrapper {
  position: relative;
  background: var(--color-dominant-alternative);
}

.image {
  display: block;
  max-width: calc(var(--container-size-lg) - (var(--gutter) * 2));
  margin-inline: auto;
}

.svg {
  position: absolute;
  inset: auto 0 -1px;
  display: block;
  fill: var(--color-dominant);
  scale: -1 1;
}
