.image {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  max-height: 50vh;
  object-fit: cover;
}

.wrapper {
  position: relative;
}

.svg {
  position: absolute;
  inset: auto 0 -1px;
  display: block;
  fill: var(--color-dominant);
  scale: -1 1;
}
