:root {
  /* Light theme */
  --color-dominant-theme-light: #ebf7ff;
  --color-secondary-theme-light: #004066;
  --color-accent-theme-light: #0077be;
  --text-on-dominant-theme-light: #004066;
  --text-on-secondary-theme-light: #fff;
  --text-on-accent-theme-light: #fff;

  /* Dark theme */
  --color-dominant-theme-dark: #00263d;
  --color-secondary-theme-dark: #005080;
  --color-accent-theme-dark: #4dbcff;
  --text-on-dominant-theme-dark: #fff;
  --text-on-secondary-theme-dark: #fff;
  --text-on-accent-theme-dark: #000;

  /* Set colors */
  --color-dominant: light-dark(
    var(--color-dominant-theme-light),
    var(--color-dominant-theme-dark)
  );
  --color-secondary: light-dark(
    var(--color-secondary-theme-light),
    var(--color-secondary-theme-dark)
  );
  --color-accent: light-dark(
    var(--color-accent-theme-light),
    var(--color-accent-theme-dark)
  );
  --text-on-dominant: light-dark(
    var(--text-on-dominant-theme-light),
    var(--text-on-dominant-theme-dark)
  );
  --text-on-secondary: light-dark(
    var(--text-on-secondary-theme-light),
    var(--text-on-secondary-theme-dark)
  );
  --text-on-accent: light-dark(
    var(--text-on-accent-theme-light),
    var(--text-on-accent-theme-dark)
  );

  /* Tints */
  --color-dominant-alternative-theme-light: hsl(
    from var(--color-dominant) h s calc(l - 10)
  );
  --color-secondary-alternative-theme-light: hsl(
    from var(--color-secondary) h s calc(l - 10)
  );
  --color-accent-alternative-theme-light: hsl(
    from var(--color-accent) h s calc(l - 10)
  );
  --color-dominant-alternative-theme-dark: hsl(
    from var(--color-dominant) h s calc(l + 10)
  );
  --color-secondary-alternative-theme-dark: hsl(
    from var(--color-secondary) h s calc(l + 10)
  );
  --color-accent-alternative-theme-dark: hsl(
    from var(--color-accent) h s calc(l + 10)
  );

  /* Tints */
  --color-dominant-alternative: light-dark(
    var(--color-dominant-alternative-theme-light),
    var(--color-dominant-alternative-theme-dark)
  );
  --color-secondary-alternative: light-dark(
    var(--color-secondary-alternative-theme-light),
    var(--color-secondary-alternative-theme-dark)
  );
  --color-accent-alternative: light-dark(
    var(--color-accent-alternative-theme-light),
    var(--color-accent-alternative-theme-dark)
  );
}
